backports.functools-lru-cache==1.6.1
BeautifulSoup==3.2.2
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
get==2019.4.13
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
post==2019.4.13
psutil==5.4.2
psycopg2==2.7.4
public==2019.4.13
pycurl==7.43.0.1
pygobject==3.26.1
pyliblzma==0.5.3
pysqlite==1.0.1
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
rpm==4.14.1
soupsieve==1.9.5
unity-lens-photos==1.0
urlgrabber==3.10.2
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
yum-metadata-parser==1.1.4
